@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    color: #555555;
    overflow: scroll !important;
}

header, footer, #reclam, main {
    width: 90%;
    margin: 25px auto;
}

header {
    transition: all 1s ease;
}

.navbar {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #ced4da;
    height: 80px;
}

#logo {
    transition: transform 3s ease;
}

.navbar .navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
}

header nav ul li .nav-link {
    margin-right: 30px !important;
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: transform 1s ease;
    background: #eee;
}

header nav ul li:first-child {
    margin-left: 30px;
}

header nav ul li .nav-link:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
    .navbar>.container {
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .navbar {
        height: auto;
    }

    .navbar-nav {
        justify-content: space-evenly;
    }

    header nav ul li {
        margin: 0;
    }
}

@media (max-width: 750px) {
    main {
        flex-wrap: wrap;
    }

    .newsLeft {
        width: 100% !important;
        margin: 25px 0 0 0 !important;
    }

    .newsRight {
        width: 100% !important;
        margin: 25px 0 !;
    }

    .newsLeft .card,
    #posts .card {
        width: 49% !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 572px) {
    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .newsLeft .card,
    #posts .card {
        width: 100% !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 350px) {
    header nav ul li:first-child {
        margin-left: 0 !important;
    }

    header nav ul li .nav-link {
        margin-right: 2px !important;
    }
}

.search {
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.3;
    background: #615e4f;
}

.fixed {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 25px;
    z-index: 2;
    transition: all 1s ease;
}

#reclam {
    background: #9e0000b4;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    color: #fff;
}

main {
    display: flex;
    justify-content: space-between;
}

.newsLeft {
    width: 65%;
    margin: 25px 5% 25px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.newsLeft h3,
.newsRight h3 {
    width: 100%;
    font-weight: 800;
}

.newsLeft .card,
#posts .card {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.newsLeft .card img,
    #posts .card img {
    height: 60%;
}

.newsRight {
    width: 30%;
    margin: 25px 0;
}

.newsRight .card {
    margin-bottom: 5%;
}

.newsRight .card .img-thumbnail {
    width: 90%;
    margin: 5%;
}

.newsRight #announce {
    background: #48285a;
    color: #fff;
}

main .btn-danger {
    margin: auto;
}

footer {
    padding-bottom: 25px;
}

footer .up-btn,
footer .social div {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #eee;
    border: 1px solid #ced4da;
    cursor: pointer;
    color: #3b3b3b;
    transition: transform 600ms ease;
}

footer .up-btn:hover,
footer .social div:hover,
header nav ul li .nav-link:hover {
    transform: translateY(-5px);
}

footer p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 800;
}

footer .social div {
    display: inline-block;
    margin-left: 15px;
}